.containerBackground {
    background-color: #e5e6f3;
}

.containerElements {
    position: relative;
    top:-45px;
    margin-bottom: 0;
    padding: 5% 3%;
    background-color: white;
    box-shadow: 5px 5+px 5px #00000024;
}

.loading {
    margin: 15% auto;
}


