.brand-logo {
    left:10% !important;
}

.brand-logo > img{
    width: 50px;
    padding-top: 20%;
    
}

.navBarMobile {
    padding: 17% 0 0 31% !important;
}

nav {
    line-height: 64px;
}

nav ul a:hover {
    background-color: rgba(0,0,0,0.0);
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .brand-logo {
    }
}

@media only screen and (min-width: 600px) {
    .brand-logo {
        left:5% !important;
    }
}

@media only screen and (min-width: 992px) {
    .brand-logo {
        left:1% !important;
    }
}