.containerBackground {
    background-color: rgb(229, 230, 243);
}

.containerProjects {
    position: relative;
    top:-75px;
    margin-bottom: 0;
    padding: 5% 3%;
    background-color: white;
}

@media only screen and (min-width: 600px) {
    .containerProjects {
        top: -100px;
    }
}