.homeContainer {
    margin-top: 80px;
    color: white;
    text-align: center;
}

.homeContainer > .row {
    margin-bottom: 0;
}

.hello {
    margin: 0;
    font-size: 18px;
    font-family: 'Zilla Slab', serif;
}

.title {
    margin: 0;
    padding: 3% 0;
    font-family: 'Zilla Slab', serif;
    font-size: 55px;
    line-height: 1;
    letter-spacing: -2px;
}

.subtitle {
    margin-top: 25px;
    margin-bottom: 80px;
    font-size: 20px;
    font-weight: 100;
    font-style: italic;
}

.buttonContainer {
    margin-bottom: 50px;
}

.focused, .unfocused {
    padding: 10px 25px;
    border: 1px solid white;   
    font-size: 14px;
    font-weight: 600; 
}

.focused {
    margin-right: 5%;
    color: black;
    background-color: white;
}

.focused:hover {
    color: white;
    background-color: transparent;
    transition: 0.3s;
}

.unfocused {
    color: white;
}

@media only screen and (min-width: 600px) {
    .homeContainer {
        margin-top: 150px;
        text-align: left;
    }

    .hello {
        margin: 0;
        font-size: 20px;
        font-family: 'Zilla Slab', serif;
    }

    .title {
        font-size: 67px;
    }

    .subtitle{
        font-size: 20px;
    }

    .focused, .unfocused {
        padding: 15px 35px;
    }
}