.header {
    color: white;
    padding: 30px 0 50px;
}

.titleH2 {
    font-size: 45px;
    font-family: 'Zilla Slab', serif;
}

.summary {
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.github {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

@media only screen and (min-width: 600px) {

    .titleH2 {
        font-size: 55px;
    } 
}